# Binaries
terraform-provider-clickstack
dist/

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
